<p>
  All available proptypes for base card can apply to teaser cards.
</p>
<p class="sprk-u-mbm">
  See below for available customization options:
</p>
<table class="drizzle-c-Table drizzle-c-Table--wide sprk-u-mbm">
  <colgroup>
    <col class="sprk-u-Width-40">
    <col>
  </colgroup>
  <thead>
    <tr>
      <th>Input</th>
      <th>Type</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="sprk-u-FontWeight--bold">
        teaserConfig
      </td>
      <td>
        string
      </td>
      <td>
        Expects an array of configurations that populate the
        content of SprkCard teaser.
      </td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold sprk-u-pll">
        <svg class="sprk-c-Icon  sprk-c-Icon--m sprk-u-mrs"
          viewBox="0 0 100 100">
          <use xlink:href="#chevron-right" />
        </svg>
        additionalCtaClasses
      </td>
      <td>
        string
      </td>
      <td>
        Expects a space-separated list of class names to be appended to the class attribute of the call-to-action container. This is an array item of teaserConfig.
      </td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold sprk-u-pll">
        <svg class="sprk-c-Icon  sprk-c-Icon--m sprk-u-mrs"
          viewBox="0 0 100 100">
          <use xlink:href="#chevron-right" />
        </svg>
        additionalCtaIconClasses
      </td>
      <td>
        string
      </td>
      <td>
        Expects a space-separated list of class names to be appended to the class attribute of the call-to-action icon container. This is an array item of teaserConfig.
      </td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold sprk-u-pll">
        <svg class="sprk-c-Icon  sprk-c-Icon--m sprk-u-mrs"
          viewBox="0 0 100 100">
          <use xlink:href="#chevron-right" />
        </svg>
        bodyText
      </td>
      <td>
        string
      </td>
      <td>
        Expects a string that will populate the teaser card's body text. This is an array item of teaserConfig.
      </td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold sprk-u-pll">
        <svg class="sprk-c-Icon  sprk-c-Icon--m sprk-u-mrs" viewBox="0 0 100 100">
          <use xlink:href="#chevron-right" />
        </svg>
        ctaAnalytics
      </td>
      <td>
        string
      </td>
      <td>
        Expects a string that will be applied to the data-analytics attribute of the CTA. This is an array item of teaserConfig.
      </td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold sprk-u-pll">
        <svg class="sprk-c-Icon  sprk-c-Icon--m sprk-u-mrs" viewBox="0 0 100 100">
          <use xlink:href="#chevron-right" />
        </svg>
        ctaHref
      </td>
      <td>
        string
      </td>
      <td>
        Expects a string that will be configure the where the link goes when the CTA is pressed. This is an array item of teaserConfig.
      </td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold sprk-u-pll">
        <svg class="sprk-c-Icon  sprk-c-Icon--m sprk-u-mrs" viewBox="0 0 100 100">
          <use xlink:href="#chevron-right" />
        </svg>
        ctaIcon
      </td>
      <td>
        string
      </td>
      <td>
        If using built in Spark Icons, it expects a string that names the icon to be rendered. This is an array item of teaserConfig.
      </td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold sprk-u-pll">
        <svg class="sprk-c-Icon  sprk-c-Icon--m sprk-u-mrs" viewBox="0 0 100 100">
          <use xlink:href="#chevron-right" />
        </svg>
        ctaText
      </td>
      <td>
        string
      </td>
      <td>
        Expects a string that will be the text of the CTA. This is an array item of teaserConfig.
      </td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold sprk-u-pll">
        <svg class="sprk-c-Icon  sprk-c-Icon--m sprk-u-mrs" viewBox="0 0 100 100">
          <use xlink:href="#chevron-right" />
        </svg>
        ctaType
      </td>
      <td>
        string
      </td>
      <td>
        Expects a string that configure if the CTA is a link or a button. Available inputs are "link" or "button". This is an array item of teaserConfig.
      </td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold sprk-u-pll">
        <svg class="sprk-c-Icon  sprk-c-Icon--m sprk-u-mrs" viewBox="0 0 100 100">
          <use xlink:href="#chevron-right" />
        </svg>
        iconHref
      </td>
      <td>
        string
      </td>
      <td>
        Expects a string that will configure where the link goes when the main media of a teaser is an icon. This is an array item of teaserConfig.
      </td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold sprk-u-pll">
        <svg class="sprk-c-Icon  sprk-c-Icon--m sprk-u-mrs" viewBox="0 0 100 100">
          <use xlink:href="#chevron-right" />
        </svg>
        iconLinkAnalytics
      </td>
      <td>
        string
      </td>
      <td>
        Expects a string that will be applied to the data-analytics attribute of the icon link. This is an array item of teaserConfig.
      </td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold sprk-u-pll">
        <svg class="sprk-c-Icon  sprk-c-Icon--m sprk-u-mrs" viewBox="0 0 100 100">
          <use xlink:href="#chevron-right" />
        </svg>
        imgAlt
      </td>
      <td>
        string
      </td>
      <td>
        Expects a string that will be applied to the alternative text of the image. This is an array item of teaserConfig.
      </td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold sprk-u-pll">
        <svg class="sprk-c-Icon  sprk-c-Icon--m sprk-u-mrs" viewBox="0 0 100 100">
          <use xlink:href="#chevron-right" />
        </svg>
        imgHref
      </td>
      <td>
        string
      </td>
      <td>
        Expects a string that will configure where the link goes when the main media of a teaser is an image. This is an array item of teaserConfig.
      </td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold sprk-u-pll">
        <svg class="sprk-c-Icon  sprk-c-Icon--m sprk-u-mrs" viewBox="0 0 100 100">
          <use xlink:href="#chevron-right" />
        </svg>
        imgLinkAnalytics
      </td>
      <td>
        string
      </td>
      <td>
        Expects a string that will be applied to the data-analytics attribute of the image link. This is an array item of teaserConfig.
      </td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold sprk-u-pll">
        <svg class="sprk-c-Icon  sprk-c-Icon--m sprk-u-mrs" viewBox="0 0 100 100">
          <use xlink:href="#chevron-right" />
        </svg>
        imgSrc
      </td>
      <td>
        string
      </td>
      <td>
        Expects a string that will be assigned to the src attribute of the main image. This is an array item of teaserConfig.
      </td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold sprk-u-pll">
        <svg class="sprk-c-Icon  sprk-c-Icon--m sprk-u-mrs" viewBox="0 0 100 100">
          <use xlink:href="#chevron-right" />
        </svg>
        mediaType
      </td>
      <td>
        string
      </td>
      <td>
        Expects a string that configure if the main media is an icon or an image. Available inputs are "img" or "icon". This is an array item of teaserConfig.
      </td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold sprk-u-pll">
        <svg class="sprk-c-Icon  sprk-c-Icon--m sprk-u-mrs" viewBox="0 0 100 100">
          <use xlink:href="#chevron-right" />
        </svg>
        title
      </td>
      <td>
        string
      </td>
      <td>
        Expects a string that will show up as the main headline of the teaserCard. This is an array item of teaserConfig.
      </td>
    </tr>
    <tr>
      <td class="sprk-u-FontWeight--bold sprk-u-pll">
        <svg class="sprk-c-Icon  sprk-c-Icon--m sprk-u-mrs" viewBox="0 0 100 100">
          <use xlink:href="#chevron-right" />
        </svg>
        titleFirst
      </td>
      <td>
        boolean
      </td>
      <td>
        Expects a boolean that will determine if the teaser card's title is at the top or below the main media. This is an array item of teaserConfig.
      </td>
    </tr>
  </tbody>
</table>
